* {
    margin: 0;
    padding: 0;
}

.header, .chirper-home, .logout {
    grid-area: header;
    background-color: #7B87F5;
    height: 2em;
}

.chirper-home {
    grid-area: chirperHome;
}

.tweet-area {
    grid-area: tweetArea;
}

.left-sidebar {
    grid-area: leftSidebar;
}

.available-users {
    grid-area: availableUsers;
}

.logout {
    grid-area: logout;
    text-align: right;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: #fff;
    color: #444;
    grid-template-areas: 
        "chirperHome header logout"
        "leftSidebar tweetArea tweetArea"
        "availableUsers tweetArea tweetArea";
}

.box {
    color: #000;
    padding: 0.5em;
    font-size: 150%;
}

.tweet-box {
    border-radius: 0.2em;
    background-color: #7B87F5;
    height: 3em;
    margin-bottom: 0.5em;
    padding: 0.5em;
}

.tweet-box .content {
    font-size: 1em;
}

.tweet-box .name, .tweet-box .timestamp {
    font-size: 0.5em;
}

.header div {
    display: inline-block;
}

.header .user-info div {
    display: block;
}

.followers, .user-suggestions {
    height: 10em;
    background-color: #7B87F5;
    border-radius: 0.2em;
    padding: 0.5em;
    overflow-y: auto;
}

.user-suggestions {
    background-color: #dadada;
}

.users-list .user {
    border: 1px solid #dadada;
    margin-top: 0.2em;
    padding: 0.5em;
    background-color: #fff;
    border-radius: 0.1em;
}

.users-list .user .name, {
    font-size: 0.8em;
}

.users-list .user .email {
    font-size: 0.5em;
}

.overlay {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
}

.overlay .tweet-modal {
    position: absolute;
    height: 15em;
    width: 40em;
    background-color: #fff;
    top: 10em;
    left: calc(50% - 20em);
    z-index: 2;
    border-radius: 1em;
    background-color: #dadada;
}

.overlay .tweet-modal .modal-header {
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.overlay .tweet-modal .modal-body {
    padding: 1em;
}

.overlay .tweet-modal .modal-body textarea {
    width: 98%;
    height: 8em;
    padding: 0.5em;
}

.overlay .tweet-modal .modal-body .tweet-controls {
    text-align: right;
}