<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="container">
        <div class="box header">
            
        </div>
        <div class="box tweet-area">
            <div class="tweet-box">a</div>
            <div class="tweet-box">b</div>
            <div class="tweet-box">c</div>
            <div class="tweet-box">d</div>
            <div class="tweet-box">a</div>
            <div class="tweet-box">b</div>
            <div class="tweet-box">c</div>
            <div class="tweet-box">d</div>
            <div class="tweet-box">a</div>
            <div class="tweet-box">b</div>
            <div class="tweet-box">c</div>
            <div class="tweet-box">d</div>
        </div>
        <div class="box left-sidebar">
            <div class="profile">
                Profile
            </div>
        </div>
    </div>
    
    <!-- STATIC FILES -->
    <link rel="stylesheet" type="text/css" href="asset/css/home.css">
</body>
</html>