<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="box chirper-home"><a href="/home">Twitter</a></div>
        <div class="box header">
            <div class="user-info">
                <div class="name"><h4></h4></div>
                <div class="email"><h6></h6></div>
            </div>
        </div>
        <div class="box page-controls">
            <a href="javascript:void(0)" class="post-tweet">Tweet</a>
            <a href="javascript:void(0)" class="logout">Logout</a>
        </div>


        <div class="box tweet-area">
            <followerstweetlist></followerstweetlist>
        </div>
        <div class="box left-sidebar">
            <followerslist></followerslist>
        </div>

        <div class="box available-users">
            <div class="user-suggestions">
                <div>User suggestions</div>
                <div class="users-list">
                    <!-- <div class="follower">
                        <div class="name">
                            <a href="/user/"></a>
                        </div>
                        <div class="email"></div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <tweetbox></tweetbox>

    <!-- STATIC FILES -->
    <link rel="stylesheet" type="text/css" href="/asset/css/home.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="module" src="/asset/js/home.js"></script>
</body>
</html>