<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="box chirper-home"><a href="/home">Chirper</a></div>
        <div class="box header">
            <div class="user-info">
                <div class="name"><h4></h4></div>
                <div class="email"><h6></h6></div>
            </div>
        </div>
        <div class="box logout">
            <div href="#">Chirp</div>
            <a href="#">Logout</a>
        </div>


        <div class="box tweet-area">
            <!-- 
                <div class="tweet-box">
                    <div class="content"></div>
                    <div class="meta">
                        <div class="name"></div>
                        <div class="timestamp"></div>
                    </div>
                </div>
             -->
        </div>
        <div class="box left-sidebar">
            <div class="followers">
                <div>Followers (<span class="followers-count">0</span>)</div>
                <div class="users-list">
                    <!-- <div class="follower">
                        <div class="name">
                            <a href="/user/"></a>
                        </div>
                        <div class="email"></div>
                    </div> -->
                </div>
            </div>
        </div>

        <div class="box available-users">
            <div class="user-suggestions">
                <div>User suggestions</div>
                <div class="users-list">
                    <!-- <div class="follower">
                        <div class="name">
                            <a href="/user/"></a>
                        </div>
                        <div class="email"></div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="overlay">
        <div class="tweet-modal">
            <div class="modal-header">Chirp</div>
            <div class="modal-body">
                <div class="tweet-input">
                    <textarea></textarea>
                </div>
                <div class="tweet-controls">
                    <span class="char-count">(0/280)</span>
                    <button class="tweet-cancel-button" type="button">Cancel</button>
                    <button class="tweet-publish-button" type="button">Publish</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- STATIC FILES -->
    <link rel="stylesheet" type="text/css" href="/asset/css/home.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/asset/js/home.js"></script>
</body>
</html>