<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
</head>
<body>
    <div class="container">
        <div class="box chirper-home"><a href="/home">Chirper</a></div>
        <div class="box header">
            <div class="user-info">
                <div class="name"><h4></h4></div>
                <div class="email"><h6></h6></div>
            </div>
            <div class="follow-button"><button type="button">Follow</button></div>
        </div>
        <div class="box logout">
            <a href="#">Logout</a>
        </div>


        <div class="box tweet-area">
            <!-- 
                <div class="tweet-box">
                    <div class="content"></div>
                    <div class="meta">
                        <div class="name"></div>
                        <div class="timestamp"></div>
                    </div>
                </div>
             -->
        </div>
        <div class="box left-sidebar">
            <div class="followers">
                <div>Followers (<span class="followers-count">0</span>)</div>
                <div class="users-list">

                </div>
            </div>
        </div>
    </div>
    
    <!-- STATIC FILES -->
    <link rel="stylesheet" type="text/css" href="/asset/css/profile.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/asset/js/profile.js"></script>
</body>
</html>