<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
</head>
<body>
    <div class="container">
        <div class="box chirper-home"><a href="/home">Chirper</a></div>
        <div class="box header">
            <div class="user-info">
                <div class="name"><h4></h4></div>
                <div class="email"><h6></h6></div>
            </div>
            <div class="follow-button"><button type="button">Follow</button></div>
        </div>
        <div class="box page-controls">
            <a class="post-tweet" href="#">Chirp</a>
            <a href="#" class="logout">Logout</a>
        </div>


        <div class="box tweet-area">
            <!-- 
                <div class="tweet-box">
                    <div class="content"></div>
                    <div class="meta">
                        <div class="name"></div>
                        <div class="timestamp"></div>
                    </div>
                </div>
             -->
        </div>
        <div class="box left-sidebar">
            <div class="followers">
                <div>Followers (<span class="followers-count">0</span>)</div>
                <div class="users-list">

                </div>
            </div>
        </div>
    </div>

    <div class="overlay">
        <div class="tweet-modal">
            <div class="modal-header">Chirp</div>
            <div class="modal-body">
                <div class="tweet-input">
                    <textarea placeholder="What's on your mind?"></textarea>
                </div>
                <div class="tweet-controls">
                    <span class="char-count">(0/280)</span>
                    <button class="tweet-cancel-button" type="button">Cancel</button>
                    <button class="tweet-publish-button" type="button">Publish</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- STATIC FILES -->
    <link rel="stylesheet" type="text/css" href="/asset/css/profile.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="module" src="/asset/js/services.js"></script>
    <script type="module" src="/asset/js/profile.js"></script>
</body>
</html>